---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
	<div class="pl-4 text-sm breadcrumbs">
		<ul>
			<li><a href="/land-astro-page/">Inicio</a></li>
			<li><a href="/land-astro-page/nosotros">Nosotros</a></li>
		</ul>
	</div>
	<main>
		<h2 class="text-center font-bold text-2xl mb-4">Nuestro objetivo</h2>
		<p class="text-left mb-8">
			En nuestra página, nos comprometemos a ser tu aliado en el camino
			hacia la mejora continua como programador. Nuestro principal
			objetivo es brindarte las herramientas esenciales que necesitas para
			evolucionar y crecer en tu trayectoria en el mundo del desarrollo.
			Aquí, encontrarás recursos, cursos actualizados y el apoyo necesario
			para fortalecer tus habilidades. Estamos dedicados a impulsar tu
			progreso y ayudarte a alcanzar todo tu potencial en el arte de la
			programación.
		</p>
		<p class="text-left mb-8">
			Con variedad en estructuras de datos, algoritmos y casos de estudio,
			estos ejercicios te ofrecen la oportunidad de enfrentarte a
			situaciones reales y encontrar soluciones creativas. Te desafiamos a
			explorar y resolver problemas, potenciando así tu capacidad para
			abordar desafíos complejos con confianza y destreza.
		</p>

		<p class="text-left mb-8">
			"Únete a nuestra comunidad y descubre el apasionante mundo de la programación. ¡Suscríbete hoy mismo!"
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
